<!DOCTYPE html>
<html lang="en">
<head>
<title>Waste Wizard</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://kit.fontawesome.com/35e386a7f3.js" crossorigin="anonymous"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>

<body style="background-color: #C2C9BD;">

<div class="header">
  <a href="/">
    <img src="{{ url_for('static', filename='images/waste-wizard.png') }}" alt="WasteWizard" style="width: 200px; height: 100px;">
  </a>
  <a href="/about" id="about-us">
    <h1>About Us</h1>
  </a>
</div>

<div class="about-image">
  <img src="{{ url_for('static', filename='images/waste-wizard.png') }}" alt="WasteWizard" style="width: 400px; height: 200px;">
</div>

<div class="about-paragraph">
  <p>Built using Facebooks' Detectron2 algorithm, Waste Wizard has the potential to help create a world where manually sorting waste into distinct categories becomes a thing of the past. 
    Our Motivation for working on this application is to combat climate change, a major environmental issue that affects everyone around the world. 
    By creating this application we want to introduce a way to reduce the risks of human pollution by allowing users to classify trash products for easier sorting. </p>
</div>

<a href="https://github.com/azuhayer/Waste-Wizard" class="github-icon" target="_blank">
  <i class="fa-brands fa-square-github"></i>
</a>

</body>
</html>