<!DOCTYPE html>
<html lang="en">
<head>
<title>Waste Wizard</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>

<body style="background-color: #C2C9BD;">

<div class="header">
  <a href="/">
    <img src="{{ url_for('static', filename='images/waste-wizard.png') }}" alt="WasteWizard" style="width: 200px; height: 100px;">
  </a>
  <a href="/about" id="about-us">
    <h1>About Us</h1>
  </a>
</div>

<div class="label">
  <h1>Submit an image of a waste product below to classify its contents</h1>
</div>

<div class="body-logo">
  <img src="{{ url_for('static', filename='images/waste-wizard.png') }}" style="width: 400px; height: 200px;">
</div>

<p>
	{% with messages = get_flashed_messages() %}
	  {% if messages %}
		<ul>
		{% for message in messages %}
		  <li>{{ message }}</li>
		{% endfor %}
		</ul>
	  {% endif %}
	{% endwith %}
</p>

<div class="submission">
  <p>Upload an image file</p>
  <form method="post" action="/" enctype="multipart/form-data">
    <label for="file-upload" class="custom-file-upload">
      Upload image
      <input type="file" id="file-upload" name="file" accept="image/" />
    </label><br>
    <input type="submit" class="submit-button" value="Submit">
  </form>

  {% if uploaded_file %}
    <div>
      <img src="{{ url_for('send_uploaded_file', filename=uploaded_file) }}" style="width: 500px; margin: 20px;">
    </div>
  {% endif %}
  

  <p>Or, enter image URL</p>
  <input type="url" class="url-field" name="url" id="url" placeholder="https://example.com"/><br>
  <input type="submit" class="submit-button" value="Submit">
</div>

</body>
</html>