body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
  }

/* Style the header */
.header {
    padding: 50px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #4D86A6;
    color: #C2C9BD;
  }

/* Increase the font size of h1 elements */
.header h1 {
    font-size: 40px;
  }

/* Style for About Us */
#about-us {
    color: #0a251b;
    text-align: right;
    text-decoration: none;
}

#about-us:hover {
    color: #C2C9BD;
}

.url-field {
    width: 200px;
    border: none;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
}

/* Style for label */
.label {
    color: #0a251b;
    text-align: center;
}

/*Style for body-logo*/
.body-logo {
    display: flex;
    justify-content: center;
}

/* Styles for file upload and submit button below */ 
.submission {
    padding-top: 20px;
    text-align: center;  
    margin-top: 30px; 
}

.custom-file-upload, .submit-button {
    width: 150px;
    height: 50x;
    display: inline-block;
    padding: 15px 20px;
    cursor: pointer;
    background-color: #4D86A6;
    color: white;
    border: none;
    border-radius: 10px;
    box-sizing: border-box;
}

.custom-file-upload input[type="file"] {
    display: none;
}

.submit-button:hover {
    background-color: #30667B;
}

.custom-file-upload:hover {
    background-color: #30667B;
}
